:root {
  --clr-primary-100: hsl(256, 26%, 20%);
  --clr-primary-200: hsl(216, 30%, 68%);

  --clr-neutral-100: hsl(270, 9%, 17%);
  --clr-neutral-200: hsl(273, 4%, 51%);
  --clr-neutral-300: hsl(0, 0%, 98%);

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;

  --ff-primary-100: "DM Serif Display", serif;
  --ff-primary-200: "Karla", sans-serif;

  --fs-300: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
  --fs-400: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
  --fs-500: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  --fs-600: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
  --fs-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
  --fs-800: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
  --fs-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
  --fs-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
}

/* https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  font-size: inherit;
  font-weight: inherit;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  align-items: center;
  background-color: white;
}

.header_logo img {
  width: 112px;
  height: 18px;
}

@media (min-width: 1080px) {
  header {
    width: min(100%, 69.375rem);
    margin: 0 auto;
    padding: 24px 0;
  }
}

/* main */
main {
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main picture {
  width: min(100%, 540px);
  height: auto;
}

main img {
  width: min(100%, 540px);
  height: auto;
}

h1 {
  color: white;
  font-size: var(--fs-900);
  font-weight: var(--fw-regular);
  font-family: var(--ff-primary-100);
  line-height: 1.1;
  width: min(100%, 540px);
}

.main_grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_content {
  display: flex;
  background-image: url("images/bg-pattern-intro-left-mobile.svg"),
    url("images/bg-pattern-intro-right-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top 0 left 0, bottom 60px right 0;
  flex-direction: column;
  align-items: center;
  padding: 48px 16px 96px 16px;
  width: min(100%, 540px);
  padding-bottom: 0px;
  margin-bottom: 0px;
  background-color: var(--clr-primary-100);
}

main p {
  color: white;
  font-size: var(--fs-500);
  font-weight: var(--fw-regular);
  font-family: var(--ff-primary-200);
  margin-top: 0;
  width: auto;
}

main a {
  color: white;
  margin: 32px 0 64px 0;
  text-decoration: none;
  height: 50px;
  width: 176px;
  font-size: var(--fs-500);
  font-weight: var(--fw-regular);
  font-family: var(--ff-primary-200);
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: auto;
}

main a:hover {
  background-color: white;
}

main a p:hover {
  color: var(--clr-neutral-100);
}

@media (min-width: 1142px) {
  main {
    background-color: var(--clr-primary-100);
    position: relative;
    display: grid;

    flex-direction: column;
  }

  main::before {
    content: "";
    width: 436px;
    height: 593px;

    position: absolute;
    background-image: url("images/bg-pattern-intro-right-desktop.svg");
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    background-size: 436px 593px;
    top: 0;
    z-index: 300;
    right: 0;
  }

  main::after {
    content: "";
    width: 195px;
    height: 504px;

    position: absolute;
    background-image: url("images/bg-pattern-intro-left-desktop.svg");
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    background-size: 195px 504px;
    bottom: -300px;
    z-index: 300;
    left: 0;
  }

  .main_grid {
    display: grid;
    grid-template-columns: 540px 540px;
    grid-template-rows: 1;
    width: min(100%, 1110px);
    margin: 0 auto;
    padding: 0;
    margin-top: 100px;
    position: relative;
    gap: 30px;
  }

  main picture {
    width: min(100%, 540px);
    height: auto;
    grid-column: 2/2;
    grid-row: 1/1;
    right: 0;
    top: 0;
    position: absolute;
  }

  main img {
    width: min(100%, 540px);
    height: auto;
  }

  h1 {
    color: white;
    font-size: var(--fs-900);
    font-weight: var(--fw-regular);
    font-family: var(--ff-primary-100);
    line-height: 1;
    width: min(100%, 540px);
  }

  .main_content {
    grid-row: 1/1;
    display: block;
    flex-direction: column;
    grid-column: 1/1;

    background-image: none;
    background-repeat: no-repeat, no-repeat;
    background-position: top 0 left 0, bottom 60px right 0;

    align-items: center;
    width: 100%;
    padding: 0;
    padding-bottom: 50px;
    margin-bottom: 0px;
    background-color: var(--clr-primary-100);
    margin: auto;
    position: relative;
    margin-top: 50px;
  }

  .main_content::before {
    content: "";
    width: 150px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: -50px;
    z-index: 200;
    left: 0;
  }
}

/* section - feature */
.feature {
  background-color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: -20;
  padding-top: 150px;
}

.feature::before {
  content: "";
  width: 150px;
  height: 1px;
  background-color: #c396c6;
  position: absolute;
  top: 110px;
  z-index: 200;
}

h2 {
  color: var(--clr-neutral-100);
  font-size: var(--fs-900);
  font-weight: var(--fw-regular);
  font-family: var(--ff-primary-100);
  line-height: 1.1;
}

h3 {
  color: var(--clr-neutral-100);
  font-size: var(--fs-700);
  font-weight: var(--fw-regular);
  font-family: var(--ff-primary-100);
  line-height: 1.1;
  margin-top: 32px;
}

.feature p {
  font-size: var(--fs-500);
  font-weight: var(--fw-regular);
  font-family: var(--ff-primary-200);
  color: var(--clr-neutral-200);
  margin-top: 24px;
  text-align: center;
  width: min(100%, 370px);
}

.feature img {
  margin-top: 48px;
}

.feature_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1142px) {
  .feature_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: min(100%, 69.375rem);
    gap: 48px;
    margin-top: 32px;
    position: relative;
  }

  .feature {
    background-color: white;
    padding: 150px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: -20;

    width: min(100%, 1110px);
    margin: 100px auto 0 auto;
  }

  .feature::before {
    content: "";
    width: 150px;
    height: 1px;
    background-color: #c396c6;
    position: absolute;
    top: 110px;
    left: 0;
    z-index: 200;
  }

  h2 {
    color: var(--clr-neutral-100);
    font-size: var(--fs-900);
    font-weight: var(--fw-regular);
    font-family: var(--ff-primary-100);
    line-height: 1.1;
    display: inline-block;
    width: min(100%, 69.375rem);
  }

  h3 {
    color: var(--clr-neutral-100);
    font-size: var(--fs-700);
    font-weight: var(--fw-regular);
    font-family: var(--ff-primary-100);
    line-height: 1.1;

    text-align: left;
  }

  .feature p {
    font-size: var(--fs-500);
    font-weight: var(--fw-regular);
    font-family: var(--ff-primary-200);
    color: var(--clr-neutral-200);
    margin-top: 24px;
    text-align: left;
  }

  .feature img {
    margin-top: 48px;
  }

  .feature_card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

/* section - find_more */
.find_more {
  margin-top: 96px;
}

.find_more-content {
  background-color: var(--clr-primary-100);
  background-image: url("images/bg-pattern-how-we-work-mobile.svg");
  background-repeat: no-repeat;
  background-position: top 0 right 0;

  padding: 16px;
  margin: 0 16px 128px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find_more h2 {
  color: white;
  font-size: var(--fs-800);
  font-weight: var(--fw-regular);
  font-family: var(--ff-primary-100);
  text-align: center;
  padding: 40px 16px 0 16px;
}

.find_more a {
  color: white;
  margin: 32px 0 56px 0;
  text-decoration: none;
}

.find_more a p {
  font-size: var(--fs-500);
  font-weight: var(--fw-regular);
  font-family: var(--ff-primary-200);
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid white;
  display: inline-block;
  padding: 6px 20px;
}

@media (min-width: 1142px) {
  .find_more {
    margin-top: 128px;
  }

  .find_more-content {
    background-color: var(--clr-primary-100);
    background-image: url("images/bg-pattern-how-we-work-mobile.svg");
    background-repeat: no-repeat;
    background-position: top 0 right 0;

    padding: 24px 0 64px 0;
    margin: 0 auto auto auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    align-items: center;
    width: min(100%, 1110px);
  }

  .find_more h2 {
    color: white;
    font-size: var(--fs-800);
    font-weight: var(--fw-regular);
    font-family: var(--ff-primary-100);
    text-align: left;
    padding: 40px 16px 0 64px;
    line-height: 1.1;
  }

  .find_more a {
    color: white;
    margin: 70px 64px auto 0;
    text-decoration: none;
    text-align: right;
  }

  .find_more a p {
    font-size: var(--fs-500);
    font-weight: var(--fw-regular);
    font-family: var(--ff-primary-200);
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid white;
    display: inline-block;
    padding: 6px 20px;
  }
}

/* footer */
footer {
  margin: 32px 0 0 0;
  background-color: #fafafa;
  padding: 0 0 64px 0;
}

.footer_header {
  height: 202px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("images/bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;
  background-position: top 0 right 0;
  padding-top: 80px;
}

.footer_icon-container {
  margin-top: 24px;
  color: var(--clr-neutral-200);
  font-size: var(--fs-600);
}

.footer_icon-container a:nth-child(2) {
  margin: 0 4px 0 8px;
}

.footer_icon-container a:nth-child(3) {
  margin: 0 8px 0 4px;
}

.footer_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 16px 0 16px;
  border-top: 2px solid hsl(0, 0%, 85%, 0.5);
  padding-top: 24px;
}

footer ul {
  padding: 0;
  margin: 0 auto 24px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

footer li {
  font-size: var(--fs-400);
  font-weight: var(--fw-semi-bold);
  font-family: var(--ff-primary-200);
  color: var(--clr-neutral-100);
  list-style-type: none;
  text-transform: uppercase;
  padding-top: 8px;
}

footer a {
  text-decoration: none;
  color: var(--clr-neutral-100);
}

h4 {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-200);
  margin-bottom: 8px;
  text-transform: uppercase;
}

@media (min-width: 1080px) {
  footer {
    margin: 128px 0 0 0;
    background-color: #fafafa;
    padding: 0 0 64px 0;
    display: flex;
    flex-direction: column;
  }

  .footer_header {
    height: 202px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url("images/bg-pattern-footer-mobile.svg");
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    padding-top: 80px;
    width: min(100%, 1110px);
    margin: 0 auto;
  }

  .footer_icon-container {
    margin-top: 24px;
    color: var(--clr-neutral-200);
    font-size: var(--fs-600);
  }

  .footer_icon-container a:nth-child(2) {
    margin: 0 4px 0 8px;
  }

  .footer_icon-container a:nth-child(3) {
    margin: 0 8px 0 4px;
  }

  .footer_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: min(100%, 1110px);
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-start;

    border-top: 2px solid hsl(0, 0%, 85%, 0.5);
    padding-top: 24px;
  }

  footer ul {
    padding: 0;
    margin: 0 auto 24px auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  footer li {
    font-size: var(--fs-400);
    font-weight: var(--fw-semi-bold);
    font-family: var(--ff-primary-200);
    color: var(--clr-neutral-100);
    list-style-type: none;
    text-transform: uppercase;
    padding-top: 8px;
  }

  footer a {
    text-decoration: none;
    color: var(--clr-neutral-100);
  }

  h4 {
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-200);
    margin-bottom: 8px;
    text-transform: uppercase;
  }
}
