:root {
  --clr-primary-100: hsl(256, 26%, 20%);
  --clr-primary-200: hsl(216, 30%, 68%);

  --clr-neutral-100: hsl(270, 9%, 17%);
  --clr-neutral-200: hsl(273, 4%, 51%);
  --clr-neutral-300: hsl(0, 0%, 98%);

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;

  --ff-primary-100: "DM Serif Display", serif;
  --ff-primary-200: "Karla", sans-serif;

  --fs-300: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
  --fs-400: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
  --fs-500: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  --fs-600: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
  --fs-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
  --fs-800: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
  --fs-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
  --fs-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
}

/* https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  font-size: inherit;
  font-weight: inherit;
}

/* header */
header {
  padding: 24px;
}
header img {
  width: 112px;
  height: 18px;
}

/* main */
main {
  background-color: var(--clr-primary-100);

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
  font-size: var(--fs-900);
  font-weight: var(--fw-regular);
  font-family: var(--ff-primary-100);
  line-height: 1.1;
}

.main_content {
  display: flex;
  background-image: url("images/bg-pattern-intro-left-mobile.svg"),
    url("images/bg-pattern-intro-right-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top 0 left 0, bottom 60px right 0;
  flex-direction: column;
  align-items: center;
  padding: 48px 16px 96px 16px;

  padding-bottom: 190px;
  margin-bottom: -250px;
}

main p {
  color: white;
  font-size: var(--fs-500);
  font-weight: var(--fw-regular);
  font-family: var(--ff-primary-200);
  margin-top: 16px;
}

main a {
  color: white;
  margin: 32px 0 150px 0;
  text-decoration: none;
}

main a p {
  font-size: var(--fs-500);
  font-weight: var(--fw-regular);
  font-family: var(--ff-primary-200);
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid white;
  display: inline-block;
  padding: 6px 20px;
}

/* section - feature */
.feature {
  background-color: white;
  padding: 16px;
}

h2 {
  color: var(--clr-neutral-100);
  font-size: var(--fs-900);
  font-weight: var(--fw-regular);
  font-family: var(--ff-primary-100);
  line-height: 1.1;
}
